{% extends "base.html" %}

{% block content %}
<h2>Select shipment:</h2>
<form action="/testmap/" method= "POSTS">{% csrf_token %}
	<select>
		{% for line in lines %}
		<option name="chose" value ="{{ line.shipment_id }}">{{ line.site_to }}</option>
		{% endfor %}
	</select>
	
	 <input type="submit" value="testmap" class='btn btn-success btn-lg'> 
</form>
<br />
<br />
<!--<p><a class="btn btn-primary btn-lg " role="button" href="{% url "testmap" %}">Syna korts &raquo;</a></p>-->
{% endblock %}