{% extends 'base.html' %}

{% block jumbotron %}
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>About Smart Labels and Smart Labels Central</h2>
        <p>Monitor heat, GPS and many more physical aspects of your products when they are shipped from A to B</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="{% url "home" %}">Back &raquo;</a></p>
      </div>
    </div>
{% endblock %}

{% block content %}

<div class='col-sm-12'>
<h4>More to come</h4>
</div>
{% endblock %}