{% extends 'base.html' %}

{% block jumbotron %}
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Welcom to SmartLabel</h1>
        <p>This page will help you to follow your product around the world.</p>
        <br />
        <p>Please sign in to see your products </p>
        <!-- <p><a class="btn btn-primary btn-lg" role="button">Please sign in to see your products &raquo;</a></p>-->
      </div>
    </div>

{% endblock %}

{% block content %}
			<h1>Sign Up</h1>
			
			<form method='POST' action=''> {% csrf_token %}
				{{form.as_p}}
				
				<input type='submit' class='btn btn-success btn-lg' label='Add user'>
			</form>
{% endblock %}