{% extends 'base.html' %}

{% block jumbotron %}
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Welome to Smart Labels Central</h1>
        <p>Smart Labels are the perfect solution for ..</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="learn-more">Learn more &raquo;</a></p>
      </div>
    </div>

{% endblock %}

{% block content %}
		<div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Sign Up</h2>
			<p>Sign up for SmartLabel service</p>
			<form method='POST' action=''> {% csrf_token %}
				{{form.as_p}}
				
				<input type='submit' class='btn btn-success btn-lg' value='Add user'>
			</form>
        </div>
			
{% endblock %}